<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheet/home.css">
</head>
<body>
    <h1> Pagina de inicio </h1>
    <form id="loginForm">
        <input type="text" placeholder="Usuario" name="user">
        <input type="email" placeholder="Correo" name="email">
        <input type="password" placeholder="Contraseña" name="pass">
        <input type="submit" value="Iniciar sesión">
    </form>
    <script src="/js/home.js"></script>
</body>
</html>